/src/jquery-1.4.2.js
/src/jquery-1.4.2.min.js
/src/jquery-1.4.3.js
/src/jquery-1.4.4.js
/src/jquery-1.5.1.js
/src/jquery-1.5.2.js
/src/jquery-1.5.js
/src/jquery-1.6.1.js
/src/jquery-1.6.js
/src/jquery.min.js.gz
